<!--
  Forum page HTML
  author: Sydney Silverman
-->

<div class="nested">

  <div class="spaced-row">
    <h1>Forum</h1>
    <div>
      <a mat-raised-button class="button" routerLink="/newPost" color="primary">Post</a>
      <button mat-raised-button class="button" (click)="refresh()" color="accent">Refresh</button>
    </div>
    
  </div>

  <!-- posts -->
  <div id="post-container" class="nested">
    <mat-card *ngFor="let post of posts">

      <!-- display author and datetime in a row with author on the far left and datetime on the far right -->
      <div class="spaced-row">
        <h2>{{post.name}}</h2>
        <p>{{post.datetime}}</p>
      </div>
      
      <!-- display post message -->
      <p>{{post.message}}</p>

    </mat-card>
  </div>
  
</div>