/*
  Global CSS style sheet
*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* make width 95% of container's width, center */
.nested{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/* display content in a row where items are evenly spaced */
.spaced-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  justify-content: space-between;
  align-items: center;
}